.bg-cover {
    background-color: #54befa;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
}

.container {
    overflow: hidden;
}

body {
    background-color:#54befa;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;

}

h1{
    font-size: 3vh;
    text-align: center;
    color: black;
    font-family: cursive;
    margin-top: 20%;
}

h2{
    text-align: center;
    color: black;
    font-size:7vh;
    font-family: cursive;
    margin-top:10%;
}

img {
    margin-top: 30%;
}
