#slide {
    animation-name:slidein;
    animation-duration: 1s;
}

.bg-cover {
    background-color: #54befa;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}

.container {
    overflow: hidden;
}

button
{
    height: 20vh;
    font-size: 3vh;
    font-family: cursive;
    background-color: #aaa;
}

@keyframes slidein {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}
