body {
    background-color: #5ABFF7;
    text-align: center;
}

h1 {
    color:black;
    text-align: center;
    font-size:7vh;
    padding-top: 5%;
    font-family: Brush Script MT;
}

p {
    color: black;
    text-align: center;
}

form {
    color: black;
    text-align: center;
    font-size:4vh;
    padding-top: 5%;
    font-family: Brush Script MT;
}

button {
    background-color: fff;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-family: Brush Script MT;
    font-size:3vh;
}

#btn {
    font-size:3vh;
    margin-top: 5%;
    text-align:center;
    border-radius: 20px;
    font-family: Brush Script MT;
}
