body,
html {
  height: 100%;
}
.bg {
  background-color: grey;

  /* FULL HEIGHT */
  height: 100%;

  /* CENTER AND POSITION THE IMAGE NICELY */
  background-position: center;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
